<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Votes</title>
</head>
<body>
<div th:if="${user}">
    <p th:text="'Utilisateur ID : '+${user}"></p>
    <a th:href="@{/get/utilisateur/{id}/creer-vote(id=${user})}">Creer vote</a>
</div>
<div th:each="vote : ${votes}">
    <div>Utilisateur :
        <span>ID utilisateur : <span th:text="${vote.utilisateur}"></span></span>
        <br>
        <span>Status utilisateur : <span th:text="${vote.voteStatut}"></span></span>
    </div>
    <div>Proposition :
        <span th:text="${vote.proposition}"></span>
    </div>
    <hr>
</div>
</body>
</html>
<body>

</body>
</html>
