<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Utilisateurs</title>
</head>
<body>
<p>Tous les utilisateurs :</p>
<a th:href="@{/create/creer-membres}">Créer membres</a>
<div th:each="membres : ${utilisateurs}">
  <p>Nom :
  <a th:href="@{/get/{id}(id=${membres.id})}" th:text="${membres.nom}"></a>
  </p>
  <p>Equipes : </p>
  <div th:each="equipe : ${membres.equipes}">
    <span th:text="${equipe}"></span>
  </div>
  <p>Propositions : </p>
  <div th:each="proposition : ${membres.propositions}">
    <span th:text="${proposition}"></span>
  </div>
  <a th:href="@{/update/{id}/modifier-membres(id=${membres.id})}">Modifier membres</a>
  <a th:href="@{/update/{id}/supprimer-membres(id=${membres.id})}">Supprimer membres</a>
</div>
</body>
</html>
