<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Utilisateurs</title>
</head>
<body>
<a th:href="@{/update/{id}/modifier-membres(id=${membres.id})}">Modifier membres</a>
<p th:text="'Utilisateur : '+${membres.nom}">Utilisateur :</p>
<p>Nom :
  <span th:text="${membres.nom}"></span>
</p>
<p>Equipes : </p>
<div th:each="equipe : ${membres.equipes}">
  <span th:text="${equipe}"></span>
</div>
<p>Propositions : </p>
<div th:each="proposition : ${membres.propositions}">
  <span th:text="${proposition}"></span>
</div>
</body>
</html>
