<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier équipe</title>
</head>
<body>
<form th:action="@{/update/{id}/modifier-projet(id=${equipe.id})}" method="post" th:object="${equipe}">
    <input name="id" th:value="${equipe.id}" type="hidden">
    <label for="utilisateurChoix">Modifier membres : </label>
    <select id="utilisateurChoix" name="utilisateurs" th:field="*{utilisateurs}" required multiple>
        <option th:each="membres : ${tousUtilisateurs}" th:text="${membres}" th:value="${membres}"></option>
    </select>
    <label for="projetChoix">Modifier projet : </label>
    <select id="projetChoix" name="projets" th:field="*{projets}" required multiple>
        <option th:each="projet : ${findAllProjet}" th:text="${projet}" th:value="${projet}" th:selected="${equipe.projets == projet}"></option>
    </select>

    <input type="submit" value="Créer">
</form>
</body>
</html>
