<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Modifier membres</title>
</head>
<body>
<form th:action="@{/update/{id}/modifier-membres(id=${membres.id})}" method="post" th:object="${membres}">
  <input name="id" th:value="${membres.id}" type="hidden">
  <label for="modifierNom">Modifier nom : </label>
  <input id="modifierNom" th:value="${membres.nom}" th:field="*{nom}">
  <label for="modifierMdp">Modifier mot de passe : </label>
  <input id="modifierMdp" th:value="${membres.mdp}" th:field="*{mdp}" type="password">
  <label for="equipeChoix">Modifier equipe : </label>
  <select id="equipeChoix" name="equipe" th:field="*{equipes}" required multiple>
    <option th:each="equipe : ${equipesListe}" th:text="${equipe}" th:value="${equipe}" th:selected="${membres.equipes == equipe}"></option>
  </select>
  <label for="propositionChoix">Modifier projet : </label>
  <select id="propositionChoix" name="propositions" th:field="*{propositions}" required multiple>
    <option th:each="proposition : ${propositionsListe}" th:text="${proposition}" th:value="${proposition}" th:selected="${membres.propositions == proposition}"></option>
  </select>

  <input type="submit" value="Créer">
</form>
</body>
</html>
